@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using HealthAI.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthAI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>


    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4" asp-area="" asp-controller="Home" asp-action="Index">HealthAI CRM</span>
            </a>         

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 link-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content Management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="Category" asp-action="Index">ProdCategories</a>
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="Medicament" asp-action="Index">Medicaments</a>
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="CategoryOfMedicament" asp-action="Index">MedCategories</a>
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="Disease" asp-action="Index">Disease</a>
                            <a class="nav-link px-2 link-dark" asp-area="" asp-controller="CategoryOfDisease" asp-action="Index">DisCategory</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link px-2 link-dark" asp-area="Identity" asp-page="/Account/Register">Create Admin User</a>
                        </div>
                    </li>
                }
                else
                {
                    <li><a href="#" class="nav-link px-2 link-dark">News</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                    <li><a class="nav-link px-2 link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                }




            </ul>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                <li>
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                    {
                        <a asp-action="Index" asp-controller="Cart" class="nav-link">
                            @{
                                var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count;
                            }
                            <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                        </a>
                    }
                    else
                    {
                        <a href="#" class="nav-link">
                            <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                        </a>
                    }
                </li>
            </ul>

            <ul class="nav">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="PanelAdmin" asp-action="Index">MyPanel-Admin</a></li>
                        <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="Account" asp-action="Logout">Logout</a></li>

                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="PanelUser" asp-action="Index">MyPanel-User</a></li>
                        <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }

                }
                else
                {
                    <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link link-dark px-2" asp-controller="Account" asp-action="Register">Sign up</a></li>
                }
            </ul>

        </header>
    </div>


    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>


    <div class="container">

        <hr>

        <footer class="pt-4 my-md-5 pt-md-5 border-dark ">
            <div class="row" >
                <div class="col-12 col-md">
                    <img class="mb-2" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                    <small class="d-block mb-3 text-muted">© 2017–2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - HealthAI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
